* {
  padding:0px;
  margin:0px;
}

body {
  background-color:#1e1e2e;
  color:#cdd6f4;
}

nav {
  padding:15px 0;
  padding-left:15px;
  width:100%;
  height: 35px;
  background-color:#181825;
  font-size:25px;
}

a:link {color:#89b4fa}
a:visited{color:#cba6f7}
a:hover{color:#91d7e3}
a:active{color:#eba0ac}

/* status.cafe */
#statuscafe {
    display:inline;
    padding: .5em;
    background-color: #181825;
    border: 1px solid midnightblue;
    color:#cdd6f4;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
